<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Management</title>
    <link rel="stylesheet" href="../static/units.css">
</head>
<body>
    <div class="header">
        <h1 id="greeting"></h1>
        <div class="user-info" id="user-info"></div>
        <div class="buttons">
            <button onclick="goHome()">Home</button>
            <button id="logout">Logout</button>
        </div>
    </div>

    <div class="container">
        <h1>Unit Management</h1>
        <div id="createUnitContainer">
            <h2>Create Unit</h2>
            <form id="createUnitForm">
                <label for="unit">Unit:</label>
                <input type="text" id="unit" name="unit" required>
                <button type="submit">Create Unit</button>
            </form>
        </div>

        <table id="unitsTable">
            <thead>
                <tr>
                    <th>Unit ID</th>
                    <th>Unit</th>
                    <th>Others</th>
                </tr>
            </thead>
            <tbody id="unitsTableBody"></tbody>
        </table>
    </div>

    <script src="../static/units.js"></script>
</body>
</html>
